@use '../utils/breakpoint' as *

.icons
    display: flex
    justify-content: center
    margin-bottom: 1em

    @include breakpoint('medium')
        margin-bottom: 2em

    $scale: 1.25

    &--to-left
        justify-content: flex-start
        margin-left: 0
        img:not(:last-child)
            margin-right: .2em !important

        @include breakpoint('medium')
            margin-left: 35px

            img:not(:last-child)
                margin-right: 1.5em !important

    &--attached
        position: absolute
        top: 0
        left: 0
        padding: 1em 2em
        text-align: center

        width: 100%

        @include breakpoint('medium')
            width: auto

    .c888
        height: calc(47px * $scale)

    .rg
        height: calc(49px * $scale)

    .us
        height: calc(44px * $scale)

    .wynnbet-white
        height: calc(30px * $scale)

    .wynnbet-black
        height: calc(45px * $scale)

    img:not(:last-child)
        margin-right: 1.5em
